.hud-text {
  position: fixed;
  z-index: 300;
  font-size: 24px;
  font-family: "Arial", sans-serif;
}

.textOutput {
  left: 15px;
  top: 15px;
}

.scoreOutput {
  right: 15px;
  top: 15px;
}

.startScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.8);
  color: black;
  font-size: 42px;
  text-align: center;
  z-index: 1000;
  font-family: sans-serif;
}

.startScreen--hidden {
  display: none;
}

.startScreen-container {
  margin: 0 auto;
  width: 450px;
  margin-top: 100px;
}

.startScreen__button {
  width: 100px;
  font-size: 36px;
  margin-top: 70px;
  cursor: pointer;
}
